/***Fonts online***/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

/***Reseteo del body***/

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}


/***Imagnes***/

img {
    max-height: 200px;
    max-width: 200px;
}