/***Fonts online***/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

/***Reseteo del body***/

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}


/***Imagenes***/

img {
    max-height: 200px;
    max-width: 200px;
}


/***Links***/

a:hover {
    font-size: large;
}

.linksDerecha {
    justify-content: right;
}


/***Nav***/

ul {
    justify-content: end;
}


/***h2***/

.txtCentrado {
    justify-content: center;
}


/***p**/

.txtJustificado {
    text-align: justify;
}


/***th***/

th {
    text-align: center;
}


/***iframe***/

iframe {
    width: 100%;
}


/***images***/

.imagenCentrada {
    text-align: center;
}